.label {
    margin-bottom: 8px;
}

.field {
    margin-bottom: 24px;
}

.input {
    min-width: fit-content;
    width: 12.5rem;
}

.textarea {
    width: 100%;
    min-height: fit-content;
    height: 38px;
}

.error {
    color: var(--destructive);
    font-size: small;
}

.cancel {
    position: fixed;
    left: 85%;
    left: calc(75% + 99px);
    bottom: 24px;
}